<div class="main">
    <div class="chat" id="chat-index">
        <div class="chat-container"> 
          <% unless @messages.blank? %>   
            <% @messages.each do |message| %>
            <div class="chat2">
                <div class="message-left">
                  <p class="message-info"> 
                  <%= message.user.name %>
                   <SPAN>
                  <%= message.created_at.strftime("%Y/%m/%d(%a) %H:%M") %>
                   </SPAN>
                  </p>
                  <p class="message-content">
                  <%= message.content %>
                  </p>    
                </div>
                <div class="message-right">
                 <ul>
                  <li>
                    <%= link_to "edit", messages_edit_path(message.id) %>
                  </li>
                  <li>
                    <a href="messages/<%= message.id %>/delete/">delete</a>
                  </li>
                 </ul>
            
                </div>
            </div>
            <% end %>

               <% else %>
               <div class="chat2">          
                <p>No message yet.
                </p>
               </div>
                 <% end %>
            </div>
        </div>     
 
     <div class="chat-form">
        <%= form_with model: @message, url: messages_create_path, local: true do |f| %>
            <%= f.text_field :content, id: "chat-form" %>
            <%= f.submit "SEND" %>
        <% end %>
    </div>
</div>

